<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Raleway|La+Belle+Aurore" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet" type="text/css">
    <title>Thinking Cat ? !</title>
  </head>
  <body>

    <div class="main-container">
        <header><h4>{{catname}}, <span class="message"></span></h4></header>
        <div id="display-unit">
          <div class="room-image">
            <img src="/images/x-size.png" usemap= "#map" style="opacity: 0;" />
            <map name="map" id="map">

            </map>
                                  <!-- onMouseOver="showChoice('0')"
                onMouseOut="showChoice('')"/> -->

          </div> <!-- room-image -->
          <div class="status"></div>
          <div class="options"></div>

        </div> <!-- display-unit -->
        <!-- user choice should be logged in db as data and a story string of text should be built in the front end -->
        <div id="result">
          <form method="post" action="/results">
          <input id="cat-data" name="catdata" value="" />
          <!-- in script.js, always update value of catdata every turn -->
            <button type="submit">Results</button>
          </form>
          <a href="/logout">logout</a>
        </div> <!-- result -->

    </div> <!-- main container -->

    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
