/*clldreset.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*label, legend, form, fieldset*/
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*html,body {
  height:100%;
}*/

.block {
  margin: 5% 0 5% 0;
  display: block;
}

/*  end clldreset.css */
/*  end clldreset.css */
/*  end clldreset.css */

body {
  /* font-family: 'Dawning of a New Day', cursive; */
  font-family: 'La Belle Aurore', cursive;
  font-size: 2em;
  background-color: #FFE;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  zoom: 0.8;
  -moz-transform: scale(0.8);
}

.room-image {
  position: relative;
  background-size: cover;
  outline: 20px solid black;
  outline-offset: -2px;
}

header {
  text-decoration-style: bold;
  margin: 2% 5% 2% 5%;
}

h1 {
  font-size: 1.2em;
  line-height: 3em;
}

h4 {
  font-size: 1em;
  line-height: 2.5em;
}

#form-area {
  line-height: 1em;
}

label {
  line-height: 0.6em;
  margin-top: 10%;
}

.form-input {
  display: block;
  font-size: 0.8em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px dashed #83A4C5;
  margin-bottom: 10%;
}

button {
  margin-bottom: 5%;
}

.room-image img{
}

.clickable {
  position: absolute;
  border: 2px solid pink;
  background-color: rgba(155,0,0,0.5);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8em;
  top: -10%;
}

.opt {
  display: flex;
  line-height: 1.5em;
}

.status {
  padding: 5% 0 2% 0;
  font-size: 0.7em;
}

#result {
  position: relative;
  top: -10%;
  color: #F3F;
  text-decoration: underline;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
}

/* make button look the same as the link */
button, a {
  background: none;
  border: none;
  color: #F3F;
  text-decoration: underline;
  cursor: pointer;
}

.opt {
  background: none;
  border: none;
  color: #70F;
  text-decoration: underline;
  cursor: pointer;
}

#email {
  display: none;
}

#cat-data {
  display: none;
}


#poem {
  margin: 15% 0 15% 0;
  font-size: 0.8em;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

/*in results page*/
.header {
  text-align: center;
  margin: 3%;
}

#charts {
  width: 90vh;
  height: 100%;
  margin: 0 auto;
  border: 3px solid black;
}

.chart-container {
  width: 90%;
  height: 30%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
}

.color-block {
  display: inline-block;
  height: 1em;
  width: 2em;
}

.chart {
  width: 90%;
  height: 20%;
  /*border: 2px solid black;*/
  margin: 0 auto;
  margin-top: 1%;
}

h5 {
  font-size: 0.6em;
  line-height: 1em;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.chart-nom {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}


.leftward {
  /* margin: auto; */
  flex-basis: 1;
  /* align-self: flex-start; */
}

.rightward {
  /* margin: auto; */
  flex-basis: 2;
  /* align-self: flex-end; */
}

h6 {
  font-size: 0.5em;
  line-height: 0.8em;
  font-family: 'Raleway', sans-serif;
}

