/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */


body {
  /* font-family: 'Dawning of a New Day', cursive; */
  font-family: 'La Belle Aurore', cursive;
  font-size: 3em;
  background-color: #FFE;
}

h1 {
  font-size: 0.6em;
  line-height: 3em;
  letter-spacing: 1em;
}

.main-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% 80% 90%;
  grid-template-rows: 15% 5% 80% 95% 110%;
  width: 70%;
  height: 70%;
  padding: 5%;
}


header {
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: start;
  text-align: center;
  letter-spacing: 0.4em;
  text-decoration-style: bold;
  margin: 10%;
}

#form-area {
  grid-row-start: 3;
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  font-size: 0.7em;
  line-height: 1.4em;
}

form label {
  text-align: center;
}

.form-input {
  display: block;
  font-size: 0.8em;
}

#game-unit {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;
  width: 70%;
}

.border-div {
  position: relative;
  height: 0;
  border: 12px solid #000;
  padding-top: 55%;
  margin: 5%;
}

.border-div .room-image {
  position: absolute;
  background-position: 3% 3%;
  background-size: cover;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-top: 65%;
  top: -3px;
  left: 0;
}

/* make button look the same as the link */

.opt {
  margin: 2% 0 2% 0;
}

button, a {
  background:none;
  border:none;
  padding: 0;
  font: inherit;
  color: #F3F;
  text-decoration: underline;
  cursor: pointer;
}

span {
  color: #F3F;
  text-decoration: underline;
  justify-content: center;
}

input {
  text-decoration: underline;
  display:inline-block;
}

#poem {
  grid-row-start: 4;
  grid-column-start: 2;
  margin-top: 15%;
}

#result {
  grid-row-start: 5;
  grid-column-start: 2;
  align-content: center;
  text-align: center;
}

