<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-container">
        <h1>Do you think like a smart cat?</h1>

        <div class="form-area">
          <form class="form" action="/signup" method="post">
            <legend>Sign Up</legend>
              <label for="inputEmail" class="emailInput">Email</label>
                <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" />
              <label for="inputPassword" class="passInput">Password</label>
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
              <label for="inputCatName" class="catNameInput">Your Cat-Name
                <a href="https://allpoetry.com/The-Naming-Of-Cats">T.S. Elliot</a>
              </label>
                <input name="catname" type="text" class="form-control" id="inputCatName" placeholder="CatName">
                <button type="submit" class="btn btn-primary">Join!</button>
          </form>
        </div> <!-- form-area -->

    </div> <!-- main container -->
  </body>
</html>
