<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Dawning+of+a+New+Day|La+Belle+Aurore" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <header>
        <h1>Give yourself a Cat-Name!</h1>
      </header>
      <div id="form-area">
        <form class="form" action="/signup" method="post">
            <label for="inputEmail" class="emailInput">Email</label>
              <input name="email" type="text" class="form-input" id="inputEmail" placeholder="Email" />
            <label for="inputPassword" class="passInput">Password</label>
              <input name="password" type="password" class="form-input" id="inputPassword" placeholder="Password" />
            <label for="inputCatName" class="catNameInput">Your Cat-Name</label>
              <input name="catname" type="text" class="form-input" id="inputCatName" placeholder="CatName" />
              <button type="submit" class="form-button"><span>Start</span></button><br />
              <a href="#poem"><span>T.S. Elliot "The Naming of Cats"<span></a>
        </form>
      </div> <!-- form-area -->

      <secret id="poem"><poem>
        <h1>"The Naming Of Cats" - T.S. Elliot</h1>
        <p>The Naming of Cats is a difficult matter,
It isn't just one of your holiday games;
You may think at first I'm as mad as a hatter
When I tell you, a cat must have THREE DIFFERENT NAMES.
First of all, there's the name that the family use daily,
Such as Peter, Augustus, Alonzo or James,
Such as Victor or Jonathan, George or Bill Bailey—
All of them sensible everyday names.
There are fancier names if you think they sound sweeter,
Some for the gentlemen, some for the dames:
Such as Plato, Admetus, Electra, Demeter—
But all of them sensible everyday names.
But I tell you, a cat needs a name that's particular,
A name that's peculiar, and more dignified,
Else how can he keep up his tail perpendicular,
Or spread out his whiskers, or cherish his pride?
Of names of this kind, I can give you a quorum,
Such as Munkustrap, Quaxo, or Coricopat,
Such as Bombalurina, or else Jellylorum-
Names that never belong to more than one cat.
But above and beyond there's still one name left over,
And that is the name that you never will guess;
The name that no human research can discover—
But THE CAT HIMSELF KNOWS, and will never confess.
When you notice a cat in profound meditation,
The reason, I tell you, is always the same:
His mind is engaged in a rapt contemplation
Of the thought, of the thought, of the thought of his name:
His ineffable effable
Effanineffable
Deep and inscrutable singular Name.</p>
      </poem></secret>

    </div> <!-- main container -->
  </body>
</html>
